<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler"
           resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <httpPlatform processPath="C:\inetpub\sites\AFADTakip\venv\Scripts\python.exe"
                  arguments="&quot;C:\inetpub\sites\AFADTakip\winserver_server.py&quot;"
                  startupTimeLimit="60"
                  stdoutLogEnabled="true"
                  stdoutLogFile="C:\ProgramData\AFAD\Takip\logs\stdout">
      <environmentVariables>
        <environmentVariable name="DATA_DIR" value="C:\ProgramData\AFAD\Takip\data" />
      </environmentVariables>
    </httpPlatform>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="15728640" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
